@model IncomeExpenseAppCoreMVC.Models.Expense

@{
    ViewData["Title"] = "Save";
    Layout = "~/Views/Shared/LayoutForAnother.cshtml";

    List<BankInfo> bankList = ViewBag.BankList;
}

<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
<div class="container">
    <form id="contact" action="" method="post">
        <h3 align="center">Expense Entry</h3>
        <fieldset>
            Date :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="date" id="theDate" name="Date" tabindex="1" required>
        </fieldset>
        <fieldset>
            Payment Mode :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="PaymentType" value="Cash" id='cashRadio'> Cash &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" value="Check" name="PaymentType" id='checkRadio'>Check
        </fieldset>
        <fieldset>
            <input placeholder="Enter amount" type="text" name="Amount" tabindex="1" required autofocus>
        </fieldset>
        
        <fieldset>
            @*<input placeholder="Bank name" type="text" name="BankName" class="txbx" hidden="true" />*@
            <select name="BankName" class="txbx" hidden="true">
                <option >Select    Your    Bank   Name</option>
                @{
                    if (bankList != null)
                    {
                        foreach (var bankInfo in bankList)
                        {
                            <option value="@bankInfo.BankName">@bankInfo.BankName</option>
                        }
                    }
                   
                }
            </select>
        </fieldset>
        <fieldset>
            <input placeholder="Check No" type="text" name="CheckNo"  class="txbx" hidden="true" />
        </fieldset>
        
        
       
        <fieldset>
            <textarea placeholder="Type Particular here...." tabindex="3" name="Particular" required></textarea>
        </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Save</button>
        </fieldset>

    </form>
</div>

@section Scripts
    {
    <script>
        $(function () {
            $('#checkRadio').click(function () {
                $('.txbx').attr('hidden', false);
            });
            $('#cashRadio').click(function () {
                $('.txbx').attr('hidden', true);
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            var date = new Date();

            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();

            if (month < 10) month = "0" + month;
            if (day < 10) day = "0" + day;

            var today = year + "-" + month + "-" + day;
            $("#theDate").attr("value", today);
        });
    </script>
}
